stages:
  - publish
  - test

.publish-applet:
  stage: publish
  image: node:16-alpine
  before_script:
    - npm i @signageos/cli -g
  script:
    - cd $APPLET_PATH
    - npm install
    - npm run upload-applet-ci
    - npm run upload-tests-ci

.test-applet-device:
  stage: test
  image: node:16-alpine
  when: manual
  script:
    - cd $APPLET_PATH
    - npm install
    - npm test $FILE_PATH

.test-applet-device:sos:
  stage: test
  image: node:16-alpine
  when: manual
  script:
    - cd $APPLET_PATH
    - npm install @signageos/cli -g
    - npm run test-sos $SOS_DEVICE_UID

# Sample Applet
publish-applet:sample:
  extends: .publish-applet
  variables:
    APPLET_PATH: .
    SOS_APPLET_UID: ca2123037c0ceeaceab255707ff94924ecc2830aaaa3cee88c

test-applet-device:sample:tizen-2.4:
  extends: .test-applet-device
  variables:
    APPLET_PATH: .
    FILE_PATH: 'index.spec.js'
    SOS_APPLET_VERSION: 2.0.0
    SOS_APPLET_UID: ca2123037c0ceeaceab255707ff94924ecc2830aaaa3cee88c
    SOS_DEVICE_UID: 20da0af1d66d453adf3af33145ba5afbdfb5246200864ee158f6d

test-applet-device:sample:tizen-2.4:sos:
  extends: .test-applet-device:sos
  variables:
    APPLET_PATH: .
    SOS_APPLET_VERSION: 2.0.0
    SOS_APPLET_UID: ca2123037c0ceeaceab255707ff94924ecc2830aaaa3cee88c
    SOS_DEVICE_UID: 20da0af1d66d453adf3af33145ba5afbdfb5246200864ee158f6d

test-applet-device:crc32-checksum:tizen-2.4:
  extends: .test-applet-device
  variables:
    APPLET_PATH: 'examples/content-js-api/crc32-chceksum/singlefile-applet/'
    FILE_PATH: 'examples/content-js-api/crc32-chceksum/singlefile-applet/index.spec.ts'
    SOS_APPLET_VERSION: 1.0.0
    SOS_APPLET_UID: d496274601ded9c68cc6abc53f2e079932faae420246eb6e43
    SOS_DEVICE_UID: 20da0af1d66d453adf3af33145ba5afbdfb5246200864ee158f6d

test-applet-device:md5-checksum:tizen-2.4:
  extends: .test-applet-device
  variables:
    APPLET_PATH: 'examples/content-js-api/md5-checksum/singlefile-applet/'
    FILE_PATH: 'examples/content-js-api/md5-checksum/singlefile-applet/index.spec.ts'
    SOS_APPLET_VERSION: 1.0.0
    SOS_APPLET_UID: 8d18457e85901a5c139c0d1847175745313862b2975e547d47
    SOS_DEVICE_UID: 20da0af1d66d453adf3af33145ba5afbdfb5246200864ee158f6d

test-applet-device:file-system:tizen-2.4:
  extends: .test-applet-device
  variables:
    APPLET_PATH: 'examples/content-js-api/file-system/singlefile-applet/'
    FILE_PATH: 'examples/content-js-api/file-system/singlefile-applet/index.spec.ts'
    SOS_APPLET_VERSION: 2.0.0
    SOS_APPLET_UID: d1aa183da1a70ca702f9f58bb991454363e37e3c21a6c1dc42
    SOS_DEVICE_UID: 20da0af1d66d453adf3af33145ba5afbdfb5246200864ee158f6d

test-applet-device:video-and-images:tizen-2.4:
  extends: .test-applet-device
  variables:
    APPLET_PATH: 'examples/content-js-api/video-and-images/singlefile-applet/'
    FILE_PATH: 'examples/content-js-api/video-and-images/singlefile-applet/index.spec.ts'
    SOS_APPLET_VERSION: 1.0.0
    SOS_APPLET_UID: 5397c38fa88a3b5019c3a74cf5f1b29758dcca68d5a1b4b23b
    SOS_DEVICE_UID: 20da0af1d66d453adf3af33145ba5afbdfb5246200864ee158f6d
